{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block content %}
<br/ >
<div class="card-container row"> 
        <div class="card col-lg-4 col-sm-6 col-xs-12">
            <img src="\static\Journalism.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Journalism</h5>
            <p class="card-text">Our mission is to facilitate the emergence of new forms of collective intelligence and governance to strengthen open societies, which are essential for a civilization capable of employing and safely directing the power of exponential technologies.</p>
            <a href="https://consilienceproject.org/" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-6 col-xs-12">
            <img src="\static\Policy.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Open Policy Making toolkit</h5>
            <p class="card-text">We think that future public policy should be more open, inclusive, evidence-based, empathetic and informed by both present and future needs. We also think it is important to share the lessons and tools that we have developed over the years through our practical projects.</p>
            <a href="https://www.gov.uk/guidance/open-policy-making-toolkit" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-6 col-xs-12">
            <img src="\static\probability.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Probability - NN Taleb</h5>
            <p class="card-text">Rigorous but not academic: science and scholarship for the real world, not as spectator sport.</p>
            <a href="https://www.youtube.com/channel/UC8uY6yLP9BS4BUc9BSc0Jww" class="btn btn-primary">Visit</a>
            </div>
        </div>
        
</div>

{% endblock %}